@model WmDailyWaterLevelAndissue

<div class="table-responsive border">
    <table class="table">
        <thead>
            <tr class="table-info">
                <th>Date</th>
                <th>WaterLevel At Sluice</th>
                <th>Effective Head</th>
                <th>TankCapacity</th>
                <th>Issue Start</th>
                <th>Issue End</th>
                <th>Gate Opened</th>
                <th>WaterIssued (ACFT)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.WaterIssuingConsiderDate.ToShortDateString()</td>
                <td>@Model.WarterLevelAtSluice</td>
                <td>@Model.EffectiveHead</td>
                <td>@Model.Capacity</td>
                <td>@Model.WaterIssuedDurationFromDateWithTime</td>
                <td>@Model.WaterIssuedDurationToDateWithTime</td>
                <td>@Model.GateOpenedSize</td>
                <td>@Model.WaterIssuedInAcft.ToString("0.00")</td>
            </tr>
        </tbody>
    </table>
</div>

<br />
<br />