@page "/"
@inherits EmployeeListBase


<h3>Employees List</h3>


<table>
    <thead>
        <tr>
            <th>EmpID</th>
            <th>EmpFistName</th>
            <th>EmpLastName</th>
            <th>Email</th>
            <th>Department</th>
            <th>Photo</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var emp in Employees)
        {
            <tr>
                <td>@emp.EmployeeId</td>
                <td>@emp.FirstName</td>
                <td>@emp.LastName</td>
                <td>@emp.Email</td>
                <td>@emp.Department.DepartmentName</td>
                <td><img src="@emp.PhotoPath" width="100" height="150" /></td>
                <td><a href="/Details/@emp.EmployeeId">Details |</a></td>
                <td><a href="#">Edit |</a></td>
                <td><a href="#">Delete</a></td>
            </tr>
        }
    </tbody>
</table>

