@model EmployeeListVM
@{
    ViewData["Title"] = "Index";
}

<br />
<h3 class="text-info">All Employees</h3>
<br />


<div class="form-group row">
    <div class="col-md-1">
        <label asp-for="PositionId" class="col-form-label">Position</label>
    </div>
    <div class="col-md-4">
        <select asp-for="PositionId" asp-items="@Model.EmployeePositions" class="form-control"></select>
    </div>
</div>


<div id="employeesTable">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr class="table-info">
                    <th></th>
                    <th>Emp Number</th>
                    <th>Personel File Number</th>
                    <th>Name With Initials</th>
                    <th>Position</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var emp in Model.EmployeesVMs)
                {
                <tr>
                    <td><img src="@("/Photoes/"+emp.EmpNumber+".jpg")" class="rounded-circle" width="50" height="50" /></td>
                    <td>@emp.EmpNumber</td>
                    <td>@emp.PersonalFileNumber</td>
                    <td>@emp.NameWithInitial</td>
                    <td>@emp.EmployeePosition.Position</td>
                    <td class="text-right"><a asp-controller="Employee" asp-action="Edit" asp-route-id="@emp.EmployeeId" class="btn btn-primary">Edit</a></td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<br />
<br />

<script>
    $(document).ready(function () {

        $("#PositionId").change(function () {
            var positionCode = $("#PositionId").val();

            $.ajax({
                method: "GET",
                url: "/Employee/GetEmployeesByPosition",
                data: { positionId: positionCode },
                success: function (response) {
                    //alert(response);
                    $("#employeesTable").html(response);
                }
            })
        })
    })
</script>