@model EmployeeListVM

<div class="table-responsive border">
    <table class="table">
        <thead>
            <tr class="table-info">
                <th></th>
                <th>Emp Number</th>
                <th>Personel File Number</th>
                <th>Name With Initials</th>
                <th>Position</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var emp in Model.EmployeesVMs)
            {
            <tr>
                <td><img src="@("/Photoes/"+emp.EmpNumber+".jpg")" class="rounded-circle" width="50" height="50" /></td>
                <td>@emp.EmpNumber</td>
                <td>@emp.PersonalFileNumber</td>
                <td>@emp.NameWithInitial</td>
                <td>@emp.EmployeePosition.Position</td>
                <td class="text-right"><a asp-controller="Employee" asp-action="Edit" asp-route-id="@emp.EmployeeId" class="btn btn-info">Details</a></td>
            </tr>
            }
        </tbody>
    </table>
</div>
