
@model IEnumerable<EmployeeLeaveVM>


@foreach (var leave in Model)
{
    

    <tr>
        <td>@leave.NameWithInitial</td>
        <td>@leave.LeaveType</td>
        <td>@leave.HalfFullLeaveType</td>
        <td>@leave.LeaveDate.ToShortDateString()</td>
        <td><a href="#" id="tableRowDeleteButton" onclick="deleteItemFromTempList(@leave.IdForLeaveTempList)">Delete</a></td>
    </tr>
}

<script>
    function deleteItemFromTempList(id) {
        //alert('need to delete to ' + id);

        $.ajax({

            method: "Get",
            url: "/Leave/RemoveFromLeaveTempList?tempId=" + id,
            success: function (response) {

                $("#leaveTableBody").html(response);
            }

        })
    }
</script>